html {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-family: 'Helvetica Neue',Roboto,'Segoe UI',sans-serif;
    -webkit-tap-highlight-color: transparent;
    background-color: #f0f0f2;
    color: #333;
    line-height: 1.2;
}

body {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
}

.rel-list {
    margin-left: 14px;
    display: block;
}

.rel-item {
    display: inline-block;
    width: 100%;
    padding: 14px 14px 14px 0;
    box-sizing: border-box;
    position: relative;
}

.rel-item:before {
    content: '';
    border-bottom: 1px solid #d8d7dc;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 200%;
    height: 200%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    box-sizing: border-box;
}

.rel-item .rel-item-cover {
    width: 74px;
    height: 74px;
    float: left;
}

.rel-item .rel-item-cover img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.rel-item .rel-item-content {
    width: auto;
    overflow: hidden;
    height: 74px;
    padding-left: 12px;
    position: relative;
}

.rel-item .rel-item-content>p {
    margin: 0;
}

.rel-item .rel-item-content .rel-item-title {
    line-height: 1.2em;
    height: 2.4em;
    overflow: hidden;
}

.rel-item .rel-item-content .rel-item-subtitle {
    line-height: 1.2em;
    margin-top: 6px;
    font-size: 11px;
    color: #bebebe;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rel-item .rel-item-content .rel-item-info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 12px;
    box-sizing: border-box;
    width: 100%;
    line-height: 1;
    font-size: 11px;
    color: #888;
}

.rel-item .rel-item-content .rel-item-info .rel-item-info-left {
    float: left;
}

.rel-item .rel-item-content .rel-item-info .rel-item-info-left i {
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
}

.rel-item .rel-item-content .rel-item-info .rel-item-info-left span {
    margin-left: 4px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    height: 1em;
    white-space: nowrap;
}

.rel-item .rel-item-content .rel-item-info .rel-item-info-left .rel-item-city-icon {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAxNJREFUSA3VVU1IVFEUPvfpOM600CmKjBCChHCbZEi5CCSixskWRi2iCDUif8Z+UYKHSGiFOhNiRhRRIQ2lzSgRtchFQQiCiosCEUNs0Y8uSqYcndN3tRvvPd/MtIsuXM69551zvnu+e859RP/7EH+TQPsTztEyaCcz5QhBUYrT1NxPeqOXi4VU/kkBOsJcLDRqglE2Ew1izmhMLtYoD4F3CaYBwDXVlIvPiYBsAXSdNU8BtcKpaInJX+8VQ9YAld3syM+hCmRUFyeq9HvFoNVG7m0BggN8k5i02WE6reti0c5R6drCvDUtjSKwr6z1itdKr6SmFkoG+vko1psR/FSq4NKn3icmeInKsLzTEuIsqTMOUwZ6iDM8LhpbXKKSswfFtDK8GuKNTjc1YL8DvM/iLiK1XuoGAViuDBzsAnZZNaWiUemkNGXgcdIe6N4ag8MxL9NF4zhJNWYhSN0H3rsCA9RnDLQwR524/MNEbDq0CQBwJeDymdER6y4EXWfRycvz/aZz+dP5Y2IeGUy0RSjfaGsGIMpF1UwqA/0uZ+K0xWpvlQDZa9SBr0noco06EwCCxVD3DmXgWru8Tld7qwQZmRadAyzEjDoTADp1BI1UoAwu+sQ3nGpU7VfJOJnLUlABGBgx2pkA4osUQhYnTRfFVA2Q1b3ANDr3Q1bSyuh4yoW4v0/nvOKL0klpAvCXiSkEGwv00xFlJJuH41QE/SsE+I45jUw7o3HabXyLtHRqxhvVovwSytYwb0Inv7/Sy6sqJ5FTe4SPo6J67L6bMpAG4P0jTty8JoMeyDfJzsmou97P29IENc7H6IxRr9a2AWpLxX2U2wfPdqSdZLT3cTZK7hHoO9FwSHy1M7UFkIbjM1QNUdQR4So7x2CQnZqDwvh2w+6RUz4JAW5ViVg0Sj70RQU4/nPp0lE+1byFHqNzXyL4bRXMToKJ5ONaL29wOugF6rvVXyp6lh9EN4VAy7u6A+JScu8E/wOrUzDE68lFz/FjuYcT7cccqvGKy1Y7u33KDJSTfOvdbnqIHpC0BJT+n8tfu0oGdHkOkvcAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.rel-item .rel-item-content .rel-item-info .rel-item-info-left .rel-item-city {
    width: 4em;
}

.rel-item .rel-item-content .rel-item-info .rel-item-info-left .rel-item-time-icon {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAp5JREFUSA3tVD1oU1EU/s57SaVRKXUoSrs4FtGtgwUVWsQl/dVkaSkUbKEiMRHaSHDIIIgW0phCwUXQ+kekral10MXFqbrqpChYqiBtcehfQu7xvMAL913SNrrqGXLP/c53z5d3zrkX+G97VIB2jzNlXiAIQi8YJxjiicnPluzfQOFRpJs+7pZjR4H0PLcQISOE96qIh9FuLEpq0QDGH/B+Xx3O2TZGZLu0sYHotTD9qiRUUeDOPIdh4SoV0Bfpoc+VDrpYeoFDkiSuCrgQ66GvLu6uluu4a2qBT5GFSH4V7WZySZZIPefjLtdZo0F6xgojlg/ZWzk+qMcc3yOQyfA+H2Nys4jw6ACtm2T5p4elLHUmHu2kd4oxVWvhhhnzCKijGJIOPol30bJJ3Gsf68R94bRkZrhJ53oEpKkhbOCeTqjelwEgTKsamTjNygLJLNfI6NVGwvRTi/+ZW8Bri3BGP1QWOGDjiASW9KDpy4wGTEzfrxbwTTiNOlYWYH+p4UoP6n46x6elya1+wgcd1/3lNXCpUBpYFlhfwXepoadBLq+U3EZKbaP9UpDWXNxcmxvQyCR5NCsLJAdpS9TVzQWu1+IlV+7FsCTviJ0nz2GTZ/vRJs/HWx336Rupz1xAoV+wSR2/0kEOtqcxYyAPDOrE8hc4YGENU1Kmi6ksH9JJ1fgTOe6Vs59GO+mLzvcIOLdXKSTsAJ4O35W2V2kTs9xsWbi+nkfcPOIRcIKxLnopb8vMsUa8Gp/lBvOAuZ+Y5zarBo+piP5EL62YcZm8yiaTc5Zs3CaFORTl3dde1VCW7ZMBtNrAZbmcge1NDI2F6UelTDsKOGTndtfXok9cp75NMmXSQ/hkFJ0vX5Tk0zIAnqkR/O8tmWSZOkn/T9lvnifNrPiY+SAAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 12px;
}

.rel-item .rel-item-content .rel-item-info .rel-item-info-right {
    width: auto;
    overflow: hidden;
    text-align: right;
    position: relative;
    top: 1px;
}

.rel-item .rel-item-content .rel-item-info .rel-item-info-right .rel-item-count {
    color: #ff711b;
    margin-right: 4px;
}

